*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    height: 100%;
    background-color: #060047;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Inconsolata', monospace;

}

img{
    vertical-align: top;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

._container{
    max-width: 1142px;
    margin: 0px auto;
}
/*---header----------------------------------------------------------*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 29px;
    /*z-index: 50;*/
}

.header__container{
    display: flex;
    min-height: 100px;
    align-items: center;
}

.header__logo{
    width: 166px;
    height: 100px;

}

.header__menu{
    margin: 0px 0px 0px 392px;

}

.menu{

}

.menu__list{
    display: flex;
}

.menu__link{
    margin: 0 0 0 27px;
    font-weight: 700;
    font-size: 20px;
    color: inherit;
    line-height: 54px;

    transition: color 0.3s linear;
}
.menu__link:hover {
    color: #E90064;
}

.header__button{
    margin: 0px 0px 0px 27px;
    background-color: #E90064;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 19px 13px;
    color: inherit;
    border-radius: 8px;


    transition: background-color 0.2s linear;
}

.header__button:hover {
    background-color: #92004C;
}
/*.col{*/
/*    background-color: blue;*/
/*    border: solid 1px #aaa;*/
/*}*/
/*.block{*/
/*    background-color: aqua;*/
/*    border: solid 1px #aaa;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    height: 100%;*/
/*}*/

/*.header{*/
/*    min-height: 100px;*/
/*}*/

/*.greetings{*/
/*    min-height: 616px;*/
/*}*/

/*.myinfo{*/
/*    min-height: 278px;*/
/*    margin-bottom: 132px;*/
/*}*/

/*.portfolio{*/
/*    min-height: 177px;*/
/*}*/

/*.photo1{*/
/*    min-height: 360px;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.photo2{*/
/*    min-height: 360px;*/
/*    margin-bottom: 296px;*/
/*}*/

/*.myway{*/
/*    min-height: 766px;*/
/*    margin-bottom: 132px;*/
/*}*/

/*.orderform{*/
/*    min-height: 612px;*/
/*    margin-bottom: 296px;*/
/*}*/

/*.footer{*/
/*    min-height: 422px;*/
/*}*/


/*.container{*/
/*    margin: 0px 147px;*/
/*    background-color: #92004C;*/
/*}*/

/*.header{*/
/*    height: 100vh;*/
/*}*/

/*.header-line{*/
/*    padding-top: 29px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/
/*.header-logo{*/
/*    position: absolute;*/
/*    width: 166px;*/
/*    height: 100px;*/
/*    left: calc(50% - 166px/2 - 490px);*/
/*    top: 29px;*/
/*}*/

/*.nav{*/
/*    position: absolute;*/
/*    width: 547px;*/
/*    height: 54px;*/
/*    left: 847px;*/
/*    top: 58px;*/
/*}*/





/*.header-title{*/
/*    position: absolute;*/
/*    width: 496px;*/
/*    height: 143px;*/
/*    left: calc(50% - 496px/2 - 330px);*/
/*    top: 246px;*/

/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    font-size: 64px;*/
/*    line-height: 90px;*/
/*    !* or 141% *!*/

/*    display: flex;*/
/*    align-items: center;*/

/*    color: #FFFFFF;*/
/*}*/